<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <span>I am Mayank</span><br>
    A Big Fan of challenging tasks and Creative coding.
  </p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>About Me</h4>
        <p>
        I am a full stack developer from jaipur who works on nodejs, angularjs, javascript, jquery, python, php, html, css and takes care of full development stack of a website. Full stack means i develop the website, i take care of deployment on server, server maintenance and scaling.
        </p>
        <p>I work in AnkTech Softwares Pvt Ltd Jaipur and here i have worked on many cool projects.</p>
        <p>Raspberry-pi is my faourite toy which i use to play with in my free time. I have created a project to control home appliances using internet from anywhere. Check my work here <a href="https://www.youtube.com/watch?v=iGXtpAUVfSE" target="_blank">Raspberry Pi work</a></p>

    </div>
</div>

